In [ ]:
#A list is a sequenced collection of objects in Python.
#The address of each element in the list is called index.
#list in python is created with []
#lists can contain integers, floats, strings, lists, tuples etc.
#lists are mutable.

In [4]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [3]:
#Find the value stored at index 1 of a_list.
a_list[1]

'hello'

In [5]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

['hello', [1, 2, 3], True]

In [10]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']
A =[1,'a']
B = [2,1,'d']
A.extend([2,1,'d'])
A
#OR
A+B

[1, 'a', 2, 1, 'd', 2, 1, 'd']

In [11]:
#Create a list with the following: Laptop, Shoes, Pen, Clothes
list = ["Laptop", "Shoes", "Pen", "Clothes"]
list

['Laptop', 'Shoes', 'Pen', 'Clothes']

In [ ]:
#Now add another element Football to the list:
list = ["Laptop", "Shoes", "Pen", "Clothes"]
list.extend(["Football"])
list.append("Football") 
list

['Laptop', 'Shoes', 'Pen', 'Clothes', 'Football', 'Football']

In [15]:
#Print the first element of the list
list[1]

'Shoes'

In [16]:
#Print Last item from the list
list[-1]

'Football'

In [17]:
#Print the entire List
list[0:]

['Laptop', 'Shoes', 'Pen', 'Clothes', 'Football', 'Football']

In [18]:
#Print laptop and shoes form the list
list[0:2]

['Laptop', 'Shoes']

In [22]:
#Change the item Pen to Notebook.
list[2]= "Notebook"
list

['Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football', 'Football']

In [24]:
#Delete the item Cltohes from the list that is not required
del(list[-2])
list

['Laptop', 'Shoes', 'Notebook', 'Football']